@import 'nib/vendor'

vendor-prefixes = o moz ms webkit official

.contacto
{
	margin: auto;
	width: 60%;
}
.contacto fieldset
{
	background: #f9e2c0;
	border: 6px solid #fff;
	border-radius: 2em;
	font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin: 40px auto;
    padding: 20px;
}
.contacto .campos
{
	clear: both;
	margin-bottom: 20px;
	padding: 10px;
	overflow: hidden;
}
.contacto .campos label
{
	color: #9b7272;
    display: block;
    float: left;
    line-height: 2em;
    text-align: left;
    width: 84px;
}
.contacto .email, .contacto .nombre, .contacto textarea
{
	background: #fff;
    border: 1px solid #dbd7d7;
    border-radius: 1em;
    color: #3d605f;
    display: block;
    float: left;
    padding: 8px;
    resize: none;
    width: 70%;
    transition: all 0.1s linear;
}
.contacto .campos input:focus, .contacto textarea:focus

{
    border: 1px solid #f29c14;
    box-shadow: 0 0 10px #f29c14;
    outline: none;
}
.contacto .ultimo
{					
	margin-bottom: 0;
	position: relative;
}					
.contacto .boton_envio
{	
	background: url("../img/Verde.png");
    border: 3px solid #fff;
    border-radius: 1em;
    color: #FFF;
    float: left;
    font-family: 'CapitolCapitol';
    font-size 1.3em
    padding: 10px;
    position: relative;
    text-shadow: 3px 3px 0 #774141;
    transition: all 0.2s linear;
}
.contacto .boton_envio:hover
{	
	background: #3d605f;
}
.correo
{
    margin auto
    width 60%
    text-align center
}
.correo a
{
    color #cc6431
}
.grid_info
{
    margin 0 auto
    margin-bottom 4em
    margin-top 4em
    width 90%
}
.grid_info a
{
    color #9b7272
    font-size 1.5em
    text-decoration none
}
.grid_info img
{
    width 300px
}
.grid_info li
{
    display inline-block
    height 400px
    margin-right 3em
    overflow hidden
    text-align center
    width 300px
}
.grid_info li span
{
    font-style italic
}
.grid_info ul
{
    list-style none
}
.infografia
{
    margin 0 auto
    margin-bottom 4em
    margin-top 4em
    width 60%
}
.infografia h2
{
    color #9b7272
    font-family 'Josefin Sans', sans-serif
    text-align center
}
.infografia figure
{
    text-align center
}
.infografia img
{
    width 50%
}
.infografia p
{
    color #3d605f
    font-size 1.3em
}
.infografia span
{
    font-style italic
}    